extends ../page

block prepend nav
  activeItem = 'buckets'
  loggedIn = true

block containerContents
  .page-header
    h1 My Cubbies
  
  .row
    .span3
      h3.available
        | Total Available $
        span.amount= user.amount
    .span3
      h3.allocated
        | Allocated $
        span.amount= allocatedAmount
    .span3
      h3.unallocated
        | Unallocated $
        span.amount= unallocatedAmount
    .span3
      .progress.progress-success
        .bar
  .btn-toolbar
    a.btn(href='#buckets/add')
      i.icon-plus
      |  Add Cubby
  .row
    for bucket in buckets
      .bucket.span3(bucketId=bucket.id)
        .well
          h3.name= bucket.name
          h4.amount $#{bucket.amount}
          p
            .input-prepend.input-append
              .add-on $
              button.add.btn(amount=1000) 1,000
              button.add.btn(amount=100) 100
              button.add.btn(amount=10) 10
              button.add.btn(amount=1) 1