extends page

block prepend nav
  activeItem = 'home'
  loggedIn = true

block containerContents
  .page-header
    h1 Home
  .row
    .span2
      p.lead $#{user.amount} Total
    .span2
      p.lead $#{allocatedAmount} Allocated
    .span2
      p.lead $#{unallocatedAmount} Unallocated
  - for (var i = 0; i < buckets.length / 4; i++)
    .row
      for bucket in buckets.slice(4*i, 4*i + 4)
        .bucket.span3(bucketId=bucket.id)
          .well
            h3.name= bucket.name + ' '
            p.amount.lead $#{bucket.amount}
            h4
              small.description= bucket.description
