extends page

block prepend nav
  activeItem = 'withdraw'
  loggedIn = true

block containerContents
  .page-header
    h1 Withdraw Money 
      small Choose wisely.
  .btn-toolbar
    h2
      | $
      span.withdraw-amount= withdrawAmount
    button.submit.btn.btn-primary Withdraw
  .row
    for bucket in buckets
      .bucket.span3(bucketId=bucket.id)
        .well
          h3= bucket.name
          h4
            | $
            span.amount= bucket.amount
          .input-prepend.input-append
            .add-on $
            button.subtract.btn(class=bucket.amount < 1000 ? 'disabled' : '', amount=1000) 1,000
            button.subtract.btn(class=bucket.amount < 100 ? 'disabled' : '', amount=100) 100
            button.subtract.btn(class=bucket.amount < 10 ? 'disabled' : '', amount=10) 10
            button.subtract.btn(class=bucket.amount < 1 ? 'disabled' : '', amount=1) 1